<div class="form">
  <h1>Reactive Form</h1>

  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="form-group" [class.error]="hasError(form.get('name'))">
      <label>
        <div>Name <span [hidden]="!hasError(form.get('name'))">is required</span></div>
        <input type="text" formControlName="name">
      </label>
    </div>

    <div class="form-group">
      <label>
        <div>Weight</div>
        <input type="number" formControlName="weight">
      </label>
    </div>

    <div class="form-group">
      <label>
        <div>Sex</div>
        <div>
          <input type="radio" id="sex__female" formControlName="sex" value="female">
          <label for="sex__female">Female</label>
        </div>

        <div>
          <input type="radio" id="sex__male" formControlName="sex" value="male">
          <label for="sex__male">Male</label>
        </div>
      </label>
    </div>

    <div class="form-group">
      <input id="has-hair" type="checkbox" formControlName="hasHair">
      <label for="has-hair">Has Hair?</label>
    </div>

    <div class="form-group" [class.error]="hasError(form.get('coatColor'))">
      <label for="coat-color">
        <div>Coat Color <span [hidden]="!hasError(form.get('coatColor'))">is required</span></div>
      </label>
      <select formControlName="coatColor" id="coat-color">
        <option value="" selected></option>
        <option *ngFor="let color of coatColors" [value]="color">{{color}}</option>
      </select>
    </div>

    <div class="form-group" formArrayName="nicknames">
      <div>Nickname(s)</div>
      <div *ngFor="let nickname of nicknames.controls; let i=index">
        <label>
          <input type="text" [formControlName]="i">
        </label>
      </div>
      <button type="button" (click)="addNickname()">Moar nicknames!</button>
    </div>

    <div formGroupName="owner">
      <div>Owner Info</div>
      <div class="form-group" [class.error]="hasError(form.get('owner').get('firstName'))">
        <label>
          <div>First Name <span [hidden]="!hasError(form.get('owner').get('firstName'))">is required</span></div>
          <input type="text" formControlName="firstName">
        </label>
      </div>

      <div class="form-group" [class.error]="hasError(form.get('owner').get('lastName'))">
        <label>
          <div>Last Name <span [hidden]="!hasError(form.get('owner').get('lastName'))">is required</span></div>
          <input type="text" formControlName="lastName">
        </label>
      </div>
    </div>

    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>
</div>
