@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Raleway', sans-serif;
}

.form {
  width: 50%;
  display: inline-block;

  .form-group {
    min-height: 3rem;
    margin-bottom: 0.5rem;

    &.error {
      color: red;

      input, select {
        border-color: red;
      }
    }
  }
}
